# 必要组件
CONFIG_PACKAGE_docker-ce=y
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_luci-app-dockerman=y

# 存储支持
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_ntfs-3g=y

# 网络工具
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_luci-app-openclash=y

# 主题
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-infinityfreedom=y

# 其他插件
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-commands=y
